.git/*
env/
venv/
.venv
.venv/
.vscode/
__pycache__/
*.py[cod]

.idea
*.env
.DS_Store
.AppleDouble
.LSOverride
sandwich.py

*.sublime-project
*.sublime-workspace

static/
posts/static/
media/
.vscode/

db.sqlite3
